.video-index {
    margin: 7% 0 3% 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.category-list {
    display: flex;
    // overflow: scroll;
    padding: 0 55px;
    flex: 0 0 19.7%;
    text-align: center;
    margin: 20px 2px;
    transition: transform 300ms ease 100ms;
}

.thumbnail-pic {
    width: 100%;
}

.videos {
    border: 1px solid white;
    background-color: white;
    margin: 0 2px;
    max-width: 300px;
    min-width: 299px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden
}


.videos:hover {
    transform: scale(1.4) !important;
  }

.category-list:hover .videos {
    transform: translateX(-20%);
 }

 .videos:hover ~ .videos {
    transform: translateX(20%);
 }
