.video-index {
    margin: 7% 0 3% 0;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.category-list {
    display: flex;
    // overflow: scroll;
    padding: 0 55px;
    flex: 0 0 19.7%;
    text-align: center;
    margin: 20px 2px;
    transition: transform 300ms ease 100ms;
}

.thumbnail-pic {
    width: 100%;
}

.index-item {
    padding: 4px;
    margin: 0 2px;
    max-width: 300px;
    min-width: 299px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
    border: 2px solid white;
}


.index-item:hover {
    transform: scale(1.4) !important;
  }

.category-list:hover .index-item {
    transform: translateX(-20%);
 }

 .index-item:hover ~ .index-item {
    transform: translateX(20%);
 }

 .content {
    margin-top: 40px;
    height: 300px;
    position: relative;
  }
  
  .background {
    display: flex;
    height: 100%;
  }
  
  .left {
    background: black;
    width: 30%;
    position: relative;
  }
  
  .left:before {
    content: '';
    position: absolute;
    background-image: linear-gradient(to right,#000,transparent);
    top: 0;
    bottom: 0;
    left: 100%;
    width: 275px;
  }
  
  .right {
    background: green;
    width: 70%;
  }
  
  .content-container {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px
  }