.video-index {
    margin: 7% 0 3% 0;
    font-size: 16px;
    display: flex;
    
}


.slider {
    display: flex;
    width: 100%;
    overflow: scroll;
    flex-direction: row;
}

.video-list {
    display: flex;
    
}