
.category-bar {
  display:flex;
  flex-direction: column;
  padding: 20px 0;
  overflow: scroll;
}

 .content {
    // height: 400px;
    position: relative;
    margin: 20px 0 0 20px;
    background-color: black;
    
    .background {
        display: flex;
        height: 100%;

        .left {
          background: black;
          width: 30%;
          height: 600px;
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 3%;

          h2 {
            margin-left: 2%;
            font-size: 40px;
            font-family: fantasy;
            font-weight: bold;
          }

          p {
            margin: 2%;
            
            // font-weight: bold;
          }
            .metaheader {
              color: #fff;
              font-weight: bold;
              font-size: 16px;

              
                span {
                  margin-right: 12px;
                }
            }
          
          .match {
            color: #46D369;
          }

          #rating {
            font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            border: solid 1px rgba(255, 255, 255, 0.4);
            padding: 0 0.4em;
            unicode-bidi: normal;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }
        }

        .synopsis {
          width: 30vw;
          min-width: 330px;
          color: #999;
          line-height: 1.3;
          margin: .8em 0 0 0;
          font-size: 20px;
          font-weight: normal;
          z-index: 1;
          
        }
        
        .left:before {
          content: '';
          position: absolute;
          background-image: linear-gradient(to right,#000,transparent);
          top: 0;
          bottom: 0;
          left: 100%;
          width: 400px;
        }
        
        .right {
          background: black;
          border: 2px solid white;
          width: 70%;
          height: 600px;
          display: flex;
          justify-content: flex-end;

          video {
            height: 100%;
            min-height: 500px; 
          }
          button {
            width: 60px;
            height: 60px;
            position: absolute;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-content: center;
            z-index: 10;

            img {
              width: 50px;
              margin: 0.25em;
              border-radius: 100%;
              padding: 3px;
              box-shadow: 5px;

            }
          }
        }

    }

    .content-container {
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 30px
    }
}
  

.display-buttons { 
  padding: 3% 0 0 2%;

  .display-button {
      font-size: 1.0vw;
      font-weight: bold;
      margin-right: 0.75em;
      padding: 0.57em 1.35em;
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.4);
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      background-image: none;
      background-color: rgba(0, 0, 0, 0.4);
      
    }
  .play {
    background-color: #E50914;
    border-color: #FF0A16;
  }

  .play:hover {
    background-color: rgb(224, 36, 45);
    padding: 0.7em 1.48em;
  }
  
  .mylist {
    text-transform: uppercase;
  }
  .mylist:hover {
    text-transform: uppercase;
    padding: 0.7em 1.48em;
  }
}

.lists {
  margin: 5% 0 0 2%;
  color: #999;
  line-height: 1.45;
  font-size: 70%;
  font-weight: normal;
  // display: flex;
  // flex-direction: column;
  .title {
    
    font-weight: bold;
  }
}


#display-video {
  width: 100%;
}

.down-volume {
  width: 70px;
  height: 70px;
}

.exit {
  position: absolute;
  top: 0;
  right: 5px;
  color: lightgrey;
  // background-color: rgba(0, 0, 0, 0.4);
  font-weight: bolder;
  font-size: 25px;
  z-index: 3;
}