
 .content {
    margin-top: 40px;
    height: 300px;
    position: relative;
    
    .background {
        display: flex;
        height: 100%;

        .left {
          background: black;
          width: 30%;
          position: relative;
        }
        
        .left:before {
          content: '';
          position: absolute;
          background-image: linear-gradient(to right,#000,transparent);
          top: 0;
          bottom: 0;
          left: 100%;
          width: 275px;
        }
        
        .right {
          background: green;
          width: 70%;
        }

    }

    .content-container {
      color: white;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 30px
    }
}
  
  