.title-body h1 {
    font-size: 3.125rem;
    font-weight: bold;
    line-height: 1.1;
}

.title-body h3 {
    font-weight: normal;
}

.splash-signup-button {
    /* margin: .5em auto;
    display: inline-block;
    width: auto;
    font-size: .8125rem;
    min-height: 28px;
    padding: .35rem 1rem;
    line-height: initial; */
}