/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    background-color: black;
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    color: white;

}

header {
    font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
    background-color: black;
    background: transparent;
    -webkit-font-smoothing: antialiased;
}
 .logo {
     position: relative;
     text-align: left;
     width: 100%;
    max-width: 300px;
 }

.intro-card {
    position: relative;
    text-align: center;
    margin: 0 auto;
    max-width: 1100px;
}

.header-bar {
    position: relative; 
    margin: 0 3.5rem;
    color: white;
}

.authLinks.redButton {
    background-color: #e50914;
    color: white;
    text-decoration: none;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    float: right;
}

.authLinks.redButton.submit {
    float: none;
    margin: 1%;
    border: #e50914;
}

.title-body {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.1;
    color: white;
    padding-top: 15%;
}

.title-body div {
    display: flex;
    justify-content: center;
}

.slogan h2 {
    margin: 0;
}

.slogan h3 {
    font-weight: normal;
}

.welcome-message {
    float: right;
}

.auth-form {
    text-align: center;
}
.switch-form {
    color: #737373;
    font-size: 16px;
    font-weight: 500;
    margin-top: 16px;
}

.link {
    color: white;
    margin: 5px
}