.authLinks.redButton {
    background-color: #e50914;
    color: white;
    text-decoration: none;
    line-height: normal;
    padding: 7px 20px;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.authLinks.redButton.submit {
    display: flex;
    border: #e50914;
    width: 100%;
    justify-content: center;
    border-radius: 4px;
    font-size: 29px;
    font-weight: normal;
    margin: 24px 0 12px;
}

.authLinks.redButton:hover {
    background-color: #ff2b2b;
    border: 1px solid #ff2b2b;

}

.link {
    color: white;
    margin: 5px
}