.authLinks.redButton {
    background-color: #e50914;
    border: 1px transparent;
    color: white;
    text-decoration: none;
    line-height: normal;
    padding: 7px 20px;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.authLinks.redButton.submit {
    display: flex;
    border: 1px #e50914;
    width: 100%;
    // border: 1px transparent;
    justify-content: center;
    border-radius: 4px;
    font-size: 29px;
    font-weight: normal;
    margin: 24px 0 12px;
}

.authLinks.redButton:hover {
    background-color: #ff2b2b;

}

.link {
    color: white;
    margin: 5px
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}
