.error-background {
    background-color: #333;
    font-family: Arial, sans-serif;
    color: #f7f7f7;
    height: 100%
}

.error-page-body {
    margin: 8.5em auto 0 auto;
    width: 45em;
}

.error-header {
    width: 100%;
    display: flex;
    align-content: flex-start;
    background-color: black;
    padding: 2% 0 2% 2%;
}


