
.header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5% 0 5%;
    background: transparent;
}

.logo {
    position: relative;
    text-align: left;
    width: 175px;
    padding-top: 1rem;

 }

 .logged-in-header {
     display: flex;
     align-items:center;
 }

 .welcome-message {
     margin-right: 25px;
 }
