.app-div {
  height: 100vh;
  width: 100vw;
}


nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: border-box;
  background: transparent;
}


html, body, header {
  font-family: 'Helvetica Neue', Helvetica, Arial, Helvetica, sans-serif;
  background-color: black;
  -webkit-font-smoothing: antialiased;
  color: white;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}


ul {
  list-style: none;
}

img {
  display: block;
  width: 75%;
  // height: 100%;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}
